.square {
    background-color:black;
    border:10px solid silver;
    display:inline-block;
    width:550px;
    height:700px;
    align-content: center;
}
.container {
    display:grid;
    grid-template-columns: repeat(3,auto);
    margin:500px auto;
    width:655px auto;
    justify-content: center;
    align-content: center;
}

p{
    font-size:0px;
}
body {
    margin: 0;
    border:100px;
    background-color:black;
} 
.square:first-child,
.square:nth-child(2),
.square:nth-child(3){
    border-top: none;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}