
/* INFO ABOUT THE DIVS */
.square:hover {
    background-color:rgb(9, 29, 119);
}

.square {
   /* height:900px;
    width:700px; */
    border:10px solid white;
    font-size:150px;
    background-color:rgba(0, 0, 0, 0.4);
    color:white;
    height:700px;
    width:500px;
}


#matchFound {
/*display:flex;
padding-top: 100px;
border:2px solid red;
height:200px;
padding-top: 10px;
position: absolute;
margin-top:600px; */
padding-top: 10px;
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: center;
width:50%;
margin-top:1600px; 
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,18,36,1) 35%, rgba(0,212,255,1) 100%);
margin-bottom: 5px;
position:absolute;
z-index:1;
}


#clock{
    display: inline-block;
    justify-content: center;
    align-items: center;
    border:2px navy;
    margin-top:110px;
    margin-bottom:5px;
    width:30%;
    height:150px;;
    color:white;
    background: radial-gradient(circle, rgba(8,142,205,1) 10%, rgba(5,18,36,0.8507449127906976) 49%, rgba(255,255,255,0.7257449127906976) 100%);
    font-size:65px;
    border: 18px solid #063b5e;
    cursor: pointer;
    font-family: Apple Chancery, cursive;

}

#clock:hover {
    background-color: #051970; 
    color:white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }



#score{
    width: 200px;
    height:80px; 
    color:white;
    font-size:150px; 
    margin-top:0px;
    display:inline-block;
    font-family: Apple Chancery, cursive;
    padding-bottom: 100px;
  /*  background-color:rgba(255, 254, 254, 0.293); */
}

#scoreHeader{
    height:80px; 
    color:white;
    font-size:120px; 
    margin-top:0px;
    display:inline-block;
    align-self:flex-start;
    padding-top: 30px;
    font-family: Apple Chancery, cursive;
   /* background-color:rgba(255, 254, 254, 0.293); */
    /*display:inline-block
    border:2px solid yellow;
    width: 975px;;
    height:200px;
    font-size:175px;
    color:white;
    padding-right: 30px; */
}


#ScoreContainer{
   /* display:flex;
    border:2px solid green; 
    justify-content: flex-start;
    align-content: center; 
    padding-left: 700px;
    padding-right: 700px;
    padding-left: 300px;
    padding-top: 100px; */
    margin-left: 1px;
    justify-content:flex-start;
    align-content: center; 
    text-align: center;
    
}

#matchInnerText {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color:white;
    width:100%;
    height:100%;
    font-size:95px;
    padding-top: 1px;
    font-family: Apple Chancery, cursive;
    text-align:center;
    border:2px solid red;
    margin-bottom:10px; 
}

/* INFO ABOUT THE CONTAINER */
.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding-left: 700px;
    padding-right: 700px;
    padding-left: 700px;
    padding-top: 100px;
}

/* INFO ABOUT THE PARAGRAPHS */

p{
    font-size:0px;
}

/* INFO ABOUT THE BODY & BACKGROUND IMG */
body {
    background-image: url('https://wallpaperaccess.com/full/476735.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100vw;
} 

/* INFO ABOUT THE IMGS INSIDE EACH DIV */
img{
    width:100%;
    height:100%;
    
    align-content: center;
}


/* INFO ABOUT THE HEADER */
header {
    width: 60%;
    display:flex;
    align-content: center;
    justify-content: center;
    
}

/* INFO ABOUT THE HEADER IMG */
#headerPic{
    padding-top: 50px;
    width: 63%;
    height:10%;
    margin-left:200px;
    opacity:0.9;
}


  /* INFO ABOUT THE BUTTONS */

 #button {
     /*position:absolute; */
     /*left:2400px;  */
     height:130px;
     width:30%;
     margin-bottom:10px; 
     font-size:50px;
     display:inline-block;
     text-align:center;
     border: 18px solid #063b5e;
     /*margin: 0 auto;
     margin-left:auto;
     margin-right:auto; */
     cursor: pointer;
    align-content: center;
    font-family: Apple Chancery, cursive;
    color:white;
    background: radial-gradient(circle, rgba(8,142,205,1) 10%, rgba(5,18,36,0.8507449127906976) 49%, rgba(255,255,255,0.7257449127906976) 100%);
 }    
 
 #buttonShuffle {
    /*position:absolute; */
    /*left:2400px;  */
    height:130px;
    width:30%;
    margin-bottom:10px; 
    font-size:56px;
    display:inline-block;
    text-align:center;
    border: 18px solid #063b5e;
    /*margin: 0 auto;
    margin-left:auto;
    margin-right:auto; */
    cursor: pointer;    
    align-content: center;
    font-family: Apple Chancery, cursive;
    background: radial-gradient(circle, rgba(8,142,205,1) 10%, rgba(5,18,36,0.8507449127906976) 49%, rgba(255,255,255,0.7257449127906976) 100%);
    color:white;
} 

 #button:hover {
    background-color: #051970; 
    color:white;
    transform: skew(-10deg);
  }

  #buttonShuffle:hover {
    background-color: #051970; 
    color:white;
    transform: skew(-10deg);
  }


.buttonsDiv {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width:50%;
    margin:5rem 0;
}

/* INFO ABOUT THE DIV ORDER */

#div0{
    order:0;
}

  #div1{
    order:1;
}

#div2{
    order:2;
}

#div3{
    order:3;
}

#div4{
    order:4;
}

#div5{
    order:5;
}

#div6{
    order:6;
}

#div7{
    order:7;
}

#div8{
    order:8;
}

#div9{
    order:9;
}

#div10{
    order:10;
}


#div11{
    order:11;
} 



/* CODES THAT DIDNT WORK */
/*.containerFlip {
    display:flex;
    flex-direction: row-reverse;
    /*flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding-left: 700px;
    padding-right: 700px;
    padding-left: 700px;
    padding-top: 250px; 
    }
    

.containerId {
        display:flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        padding-left: 700px;
        padding-right: 700px;
        padding-left: 700px;
        padding-top: 250px; 
        }    
*/


 /** {
       box-sizing: border-box;
       } */